/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Colors
$bright-purple: #522ED6;
$purple: #7558DE;
$lightest-purple: #D9D1F6;
$white: #FCFCFE;
$dark-purple: #23135E;
$medium-purple: #9F8BE8;

$navbar-bg: $dark-purple;
$navbar-fg: $lightest-purple;
$navbar-hl: $purple;
$body-bg: $lightest-purple;
$body-color: $dark-purple;
$footer-bg: $purple;
$link-color: $dark-purple;

/*-- scss:rules --*/

